@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Lato:wght@400;700&family=The+Nautigal:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: black;
    color: white;
}

header {
    width: 100%;
    height: 10vh;
}

.menu__content {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 50px;
}

.menu__content .logo {
    font-family: 'The Nautigal', cursive;
    text-transform: none;
    font-size: 4.3rem;
    color: white;
}

.menu__content .list-menu {
    display: flex;
    list-style: none;
    gap: 30px;
}

.menu__content .list-menu li a{
    list-style: none;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: larger;
    font-weight: 600;
    transform: 2ms ease-in;
    position: relative;
}

.menu__content .list-menu li a:hover {
    color: yellow;
    transition: 0.5s ease;
}

.menu__content .list-menu li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: yellow;
    transition: all 1.5s ease;
}

.menu__content .list-menu li a:hover::before {
    width: 100%;
}

.container {
    width: 100%;
    height: 550px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container .primary-text {
    font-family: 'The Nautigal', cursive;
    font-size: 15rem;
    color: white;
}

.container .second-text{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.btn-insc {
    border: 3px solid black;
    width: 30%;
    padding: 15px;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin: 10px;
    font-family: 'Lato', sans-serif;
    color: black;
    background-color: white;
    border-radius: 20px;
    font-weight: 800;
}

.btn-insc:hover {
    background-color: transparent;
    letter-spacing: 0.8rem;
    color: yellow;
    border: 3px solid yellow;
    transition: all 0.5s ease;
}

.container_main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.main__up {
    width: 100%;
    height: 200px;
    background-color: white;
    color: black;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    border-radius: 40px;
}

.main__down {
    width: 100%;
    height: 200px;
    background-color: white;
    color: black;
    margin-top: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    border-radius: 40px;
}   

.container_main .main_desc {
    font-size: 35px;
    padding: 25px;
}

.container_main .desc {
    font-size: 20px;
    padding: 5px;
}

.container_main .btn-desc a {
    text-decoration: none;
    color: #3b3b3b;
    font-size: 25px;
}

.container_main .btn-desc a:hover {
    color: black;
}

.main-form {
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 15px;
    align-items: center;
    text-align: center;
    display: flex;
}

form {
    margin: 5px;
}

form p {
    color: white;
    margin: 30px 20px 0;
    font-size: 30px;
    font-family: 'Lato', sans-serif;

}

.main-form input {
    background-color: transparent;
    color: white;
    margin: 4.2px;
    padding: 20px;
    width: 380px;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid rgb(150, 150, 150);
}

.main-form input:focus,
.main-form input:valid {
    border-bottom: 2px solid yellow;
    color: yellow;
    background-color: #3b3b3b;
}

.main-form button {
    width: 300px;
    height: 64px;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px;
    font-weight: 700;
    letter-spacing: 2px;
}

.main-form button:hover {
    background-color: transparent;
    border: 2px solid yellow;
    color: yellow;
    transition: 0.5s ease;
}

#contact-footer {
    width: 99%;
    margin: 10px;
    padding: 98px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

section img {
    border: 5px solid white;
    border-radius: 50%;
    width: 200px;
}

section p {
    padding: 15px;
}

footer {
    width: 100%;
    height: 20vh;
    background-color: rgb(17, 17, 17);
    color: white;
}

.main__footer {
    padding: 15px;
    min-height: 20vh;
    border-top: 2px solid yellow;
}

.main__footer ul {
    display: flex;
    flex-direction: column;
}


.main__footer ul li {
    list-style: none;
    padding: 10px 0 0 20px;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
}